.super-mario {
    width: 100px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 70px;
    position: initial;
    z-index: 2;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    object-position: 50px;
    z-index: 3;
  }