h1 {
    font-family: Montserrat, sans-serif;
    font-size: 65px;
    color: blueviolet;
    }
  body {
    background-color: greenyellow;
    font-size: 16px;
  }
  .classe {
    background-color: cyan;
    line-height: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
  }
  p {
    font-family: Verdana;
    font-weight: 600;
    font-size: 48px;
  }
